.home-container{
    display: flex;
    min-height: calc(100vh - 191.5px);
    width: 100vw;
    max-width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #333846B3 #fff;
    scrollbar-width: thin;
}
.home-content-left{
    position: sticky;
    border-right: 1px solid #333846B3;
    background-color: #f8f7f4;
    transition: left .3s ease;
}
.home-main-content, .home-main-content:after, .home-content-left, .home-content-left *
{
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.home-options{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 220px;
    min-height: 85%;
}
.home-main-content{
    width: 100%;
    height: 100%;
    height: calc(100% - 30px);
}

.home-greeting{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: larger;
    font-weight: 600;
    padding: 10px 0;
}

#home-menu-icon{
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.home-options p{
    margin:5px 10px
}
.star-icon{
    width: 15px;
    height: 15px;
    padding-right: 10px;
}

.links-container .active{
    box-shadow: 0 6px 12px 0 rgba(51,56,70,.5);
    background-color: #0094C6;
    color: #fff;
    transition: all .5s ease-out;
    font-size: 19px;
}

.link-deacticate-container{
    width: 100%;
    display: flex;
}

.deactivate-btn{
    outline: 0;
    border: 0;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #282C34;
    text-transform: capitalize;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    margin: auto;
}

.links-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 1s;
}
.links-container .navigate{
    padding: 5px 20px;
}
.drop-down-navigate{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
    text-align: left;
    background-color: #fff;
}
.drop-down-navigate .navigate{
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.drop-down-navigate .navigate:first-child{
    margin-bottom: 10px;
}
.close-dropdown{
    display: none;
}

.hide{
    display: none;
}
.down {
    border: solid #282C34;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
#modify-policy .right{
    border: solid #282C34;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.5s;
}
  
@media (max-width:480px){
    .home-content-left{
        position: fixed;
        height: 100%;
    }
}