.home-container{
    display: flex;
    min-height: calc(100vh - 191.5px);
    width: 100vw;
    max-width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #333846B3 #fff;
    scrollbar-width: thin;
}
.home-content-left{
    position: fixed;
    width: 250px;
    height: calc(100% - 138px);
    border-right: 1px solid #333846B3;
    background-color: #f8f7f4;
    transition: all 0.5s ease;
}
.home-content-left.collapse .home-greeting-txt,
.home-content-left.collapse .links-container .navigate,
.home-content-left.collapse .deactivate-btn
{
    /* opacity: 0; */
    display: none;
    pointer-events: none;
}

.collapse{
    width: 50px;
}

.home-options{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 220px;
    min-height: 85%;
}
.home-main-content{
    width: 100%;
    height: calc(100% - 30px);
    transition: all 0.5s ease;
}

.home-greeting{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: larger;
    font-weight: 600;
    padding: 10px 0;
    transition: all 0.5s ease;
}

.home-greeting-txt{
    transition: all 0.5s ease;
}

#home-menu-icon{
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: fixed;
    left: 0.25rem;
    top: calc(1.7rem + 138px);
}

.home-options p{
    margin:5px 10px
}
.star-icon{
    width: 15px;
    height: 15px;
    padding-right: 10px;
}

.links-container .active{
    box-shadow: 0 6px 12px 0 rgba(51,56,70,.5);
    background-color: #0094C6;
    color: #fff;
    transition: all 0.5s ease;
    font-size: 19px;
}

.link-deacticate-container{
    width: 100%;
    display: flex;
}

.deactivate-btn{
    outline: 0;
    border: 0;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #282C34;
    text-transform: capitalize;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    margin: auto;
    opacity: 1;
    transition: all 0.5s ease;
}

.links-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.5s ease;
}
.links-container .navigate{
    transition: all 0.5s ease;
    padding: 5px 20px;
}

.dd-container{
    height: 135px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    list-style: none;
    opacity: 1;
    transition: all 0.5s ease;
}

.dd-container.dd-collapse .sub-nav-link{
    opacity: 0;
}
.dd-container .sub-nav-link{
    padding-left: 60px;
    margin-top: 10px;
}
.down {
    border: solid #282C34;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
#modify-policy .right{
    border: solid #282C34;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.5s;
}

.m-50{
    margin-left: 50px;
}

.m-250{
    margin-left: 250px;
}