.policy-tbl{
    margin: 20px;
    border: 0;
    border-spacing: 0;
    box-shadow: 0 6px 12px 0 rgba(51,56,70,.5);
}
.policy-tbl thead tr{
    background-color: #0094C6;
    color: #fff;
}
.policy-tbl th,td{
    padding: 20px 40px;
    text-align: left;
}

.add-policy-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delete-policy-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trash-icon{
    cursor: pointer;
    width: 26px;
    height: 26px;
    transition: 0.5s;
}
#trash-icon:hover{
    transform: rotate(15deg);
}