.App-header {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: #282c34;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #C4C197;
    z-index: 1;
    transition: all 1s ease;
}
.App-header div{
    transition: 1s;
}
.App-header h1{
    font-size: 36px;
    line-height: 54px;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 30px;
}
.App-header h1 span{
    font-weight: bold;
    padding: 3px 10px;
    background-color: #282c34;
    color: #fff;
}

.App-link {
    color: #282c34;
    text-decoration: none;
}
.active{
    color: #0094c6;
}

.navlink-container .App-link:hover{
    color: #0094c6;
}
.navlink-container{
    display: flex;
    gap: 1rem;
    margin-right: 20px;
    transition: all 1s ease;
}
.greeting{
    padding-bottom: 10px;
}
.menu-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 50px;
    display: none;
}
@media (max-width: 480px){
    .navlink-container{
        flex-direction: column;
        width: 100%;
    }
    .close{
       display: none;
    }

    .App-header{
        flex-direction: column;
        align-items: start;
    }
    .menu{
        display: flex;
    }
    .navlink-container li{
        width: 100%;
    }
    .menu-icon{
        display: block;
    }
}

@media (max-width:768px) {
    .close{
        display: none;
     }
     .navlink-container{
        flex-direction: column;
        width: 100%;
    }
    .App-header{
        flex-direction: column;
        align-items: start;
    }
    .menu-icon{
        display: block;
    }
}