.feedback-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.feedback,.tips{
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(51,56,70,.1);
    padding: 10px 30px;
}
.feedback{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tips{
    font-size: medium;
    text-align: left;
    width: 500px;
    height: 250px;
}

