.card{
    /* flex: 1; */
    background-color: #fff;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    /* width: 300px;
    min-height: 300px; */
    /* color: #fff; */
    /* background-color: #232323; */
}
.card-content{
    padding:  0px 15px;
}
p span{
    font-weight: 600;
}

.card-content p{
    text-transform: capitalize;
}

.type{
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    font-weight: 600;
    background-color: #FFAF45;
    padding: 3px 0;
    margin: 15px 0 0 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#policy-delete-btn{
    background-color: inherit;
    border: 1px solid #FA7070;
    padding: 5px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.6s;
}

#policy-delete-btn:hover{
    color: #fff;
    background-color: #FA7070;
}