.nominee-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 1.5rem;
    text-align: left;
}

#nominee-relationship, #nominee-name{
    width: 250px;
}