.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #f2f4f3;
  height: 100vh;
}

h1{
  margin: 0;
  padding: 15px 0;
}

.navigate{
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #282c34;
  cursor: pointer;
}

input,textarea{
  border: 1px solid #282c34;
  background-color: #f2f4f3;
  padding: 10px 5px;
  outline:0;
}

.submit-btn{
  padding: 8px 10px;
  background: #0094c6;
  border: none;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}

.submit-btn:hover{
  opacity: 0.9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
