html{
  scroll-behavior: smooth;
  /* width: 100vw; */
}
body {
  margin: 0;
  font-family: Poppins, Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, san-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}
